$font-sans:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;

$font-principal: $font-sans;
$font-secondary: $font-sans;
$font-poppins: $font-sans;
$font-roboto: $font-sans;
$font-titillium: $font-sans;
